version: '3.9'

services:
  go-app:
    container_name: go-app
    image: go-api
    build: .
    ports:
      - "8000:8000"
    environment:
      DB_HOST: go_db
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASSWORD: "1234"
      DB_NAME: postgres
    depends_on:
      go_db:
        condition: service_healthy
    restart: unless-stopped
  go_db:
    container_name: go_db
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: 1234
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata: {}